{% extends 'main/base.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Change password</h1>
        </div>
        <div class="panel-body">
          {% if not user.has_usable_password %}
            <div class="alert alert-info" role="alert">You have not defined a password yet, you may do that now.</div>
          {% endif %}

          <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
              {% include 'form_field_template.html' %}
            {% endfor %}

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Set Password</button>
              </div>
            </div>
            
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}