{% extends 'main/base.html' %}
{% load myfilters %}

{% block content %}
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Register a new account</h1>
				</div>
				<div class="panel-body">

					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}

						{% for field in form %}
						  {% include 'form_field_template.html' %}
            <!--<div class="form-group">
		        	<label class="control-label col-sm-2" for="{{ field.html_name }}">{{ field.label_tag }}</label>
		        	<div class="col-sm-4">{{ field | add_class:'form-control' }}</div>						

							{% if field.errors %}
							<div class="col-sm-4">
								<p class="text-danger error">{% for error in field.errors %}{{ error }} {% endfor %}</p>
							</div>
        			{% endif %}

		        </div>-->
		        {% endfor %}


	          {% for error in form.non_field_errors %}
            <div class="col-sm-offset-2"><p class="text-danger">{{ error }}</p></div>
            {% endfor %}


						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</div>
					</form>

          <hr>

          

				</div>
				<div class="panel-footer">
					Already have an account? <a href="{% url 'login' %}">Click here</a> to log in.
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
