{# Thumbs up and down for liking and disliking recipe #}
{% if recipe in liked_recipes %}
  <button type="button" class="btn btn-primary like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
  <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
{% elif recipe in disliked_recipes %}
  <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
  <button type="button" class="btn btn-danger dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
{% elif user.is_authenticated %}
  <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
  <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
{% else %}
  <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
  <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
  {# <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></a> #}
  {# <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></a> #}
{% endif %}

